<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Aloqa</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<nav>
    <ul>
        <li><a href="index.html">Bosh sahifa</a></li>
        <li><a href="products.html">Mahsulotlar</a></li>
        <li><a href="about.html">Biz haqimizda</a></li>
        <li><a href="contact.html">Aloqa</a></li>
    </ul>
</nav>

<div class="contact">
    <h2>Biz bilan bog‘laning</h2>
    <input type="text" placeholder="Ismingiz">
    <input type="email" placeholder="Email">
    <textarea rows="6" placeholder="Xabaringizni yozing..."></textarea>
    <button onclick="messageSent()">Yuborish</button>
</div>

<script src="script.js"></script>
</body>
</html>
