<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Online Magazin</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<nav>
    <ul>
        <li><a href="index.html">Bosh sahifa</a></li>
        <li><a href="products.html">Mahsulotlar</a></li>
        <li><a href="about.html">Biz haqimizda</a></li>
        <li><a href="contact.html">Aloqa</a></li>
    </ul>
</nav>

<section class="hero">
    <div>
        <h1>Eng sifatli mahsulotlar bizda!</h1>
        <p>Tez yetkazib berish va qulay narxlar.</p>
        <button onclick="location.href='products.html'">Mahsulotlarni ko‘rish</button>
    </div>
</section>

<script src="script.js"></script>
</body>
</html>
