<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Mahsulotlar</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<nav>
    <ul>
        <li><a href="index.html">Bosh sahifa</a></li>
        <li><a href="products.html">Mahsulotlar</a></li>
        <li><a href="about.html">Biz haqimizda</a></li>
        <li><a href="contact.html">Aloqa</a></li>
    </ul>
</nav>

<h2 style="text-align:center; margin-top:30px;">Bizning mahsulotlar</h2>

<div class="products-container">
    <div class="product">
        <img src="https://images.unsplash.com/photo-1585386959984-a415522316c5" alt="">
        <h3>Sport Soati</h3>
        <p>$49</p>
        <button>Sotib olish</button>
    </div>

    <div class="product">
        <img src="https://images.unsplash.com/photo-1512499617640-c2f999098c01" alt="">
        <h3>Bluetooth Naushnik</h3>
        <p>$35</p>
        <button>Sotib olish</button>
    </div>

    <div class="product">
        <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff" alt="">
        <h3>Krossovka</h3>
        <p>$59</p>
        <button>Sotib olish</button>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>
